.sideBar {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 10%;
  height: 800px;
  background: #f7e4bb;
}
.burger-menu {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.homePage {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.bookmark {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
